<div class="col-xs-12">
    <mc-messages></mc-messages>
</div>

<div ng-controller="EventCtrl as ctrl">
    <form>
        <uib-accordion close-others="oneAtATime">
            <div ng-repeat="event in ctrl.events">
                <div ng-class="collapse">
                    <div class="col-md-6 col-xs-12" style="margin-bottom: 20px;">
                        <rd-widget status=event.status>
                            <rd-widget-header status=event.status icon="fa-flag-checkered" title="{{event.name}}"
                                              subtitle="({{event.begin |date:'dd.MM'}}-{{event.end |date:'dd.MM.yyyy'}})"
                                              location="{{event.city}}">
                            </rd-widget-header>
                            <rd-widget-body>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                       {{event.description}}
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <img class="eventPicture"
                                             src="{{event.linkToPicture}}"/>
                                    </div>
                                </div>
                                <div class="row" ng-show="(ctrl.participations| filter: {eventId: event.id}).length>0">
                                    <label>Teilgenommen mit</label>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6" ng-repeat="participation in ctrl.participations| filter: {eventId: event.id} ">
                                        {{participation.model}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <button type="button" class="btn btn-success"
                                                ng-click="ctrl.openParticipationPopup(event)">
                                            <label ng-show="(ctrl.participations| filter: {eventId: event.id}).length==0">teilnehmen</label>
                                            <label ng-show="(ctrl.participations| filter: {eventId: event.id}).length>0">mit weiterem Motorrad teilnehmen</label>
                                        </button>
                                    </div>
                                </div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </form>
</div>