<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>
    </div>
</div>
<div ng-controller="MotorcycleCtrl as ctrl">
    <form>
        <uib-accordion close-others="oneAtATime">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Speichern</button>
                    <button type="button" class="btn btn-danger">Abbrechen</button>
                </div>
            </div>
            <div ng-repeat="motorcycle in ctrl.motorcycles">
                <div class="row" ng-class="collapse">
                    <div class="col-xs-12">
                        <rd-widget status=motorcycle.status>
                            <rd-widget-header status=motorcycle.status icon="fa-motorcycle" title="Meine {{motorcycle.model}}">
                            </rd-widget-header>
                            <rd-widget-body>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label for="brand">Marke</label>
                                        <input type="text" class="form-control" placeholder="Marke"
                                               id="brand"/>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="model">Model</label>
                                        <input type="text" class="form-control" placeholder="Model" id="model"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="capacity">Hubraum</label>
                                        <input type="text" class="form-control" placeholder="Hubraum" id="capacity"/>
                                    </div>
                                    <div class="form-group col-sm-2 col-xs-4">
                                        <label for="cylinderCnt">Anzahl Zylinder</label>
                                        <input type="text" class="form-control" placeholder="Anzahl Zylinder"
                                               id="cylinderCnt"/>
                                    </div>
                                    <div class="form-group col-md-4 col-xs-6">
                                        <label for="serialNumber">Fahrgestellnummer</label>
                                        <input type="text" class="form-control" placeholder="Fahrgestellnummer"
                                               id="serialNumber"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="year">Baujahr</label>
                                        <input type="text" class="form-control" placeholder="Baujahr" id="year"/>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="class">Klasse</label>
                                        <input type="text" class="form-control" placeholder="Klasse" id="class"/>
                                    </div>
                                </div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                </div>
            </div>
            <div class="row" ng-class="collapse">
                <div class="col-xs-12">
                    <rd-widget status=motorcycle.status panel-class="new-widget">
                        <rd-widget-header status=motorcycle.status icon="fa-plus" title="Weiteres Motorrad hinzufügen">
                        </rd-widget-header>
                        <rd-widget-body>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label for="nbrand">Marke</label>
                                    <input type="text" class="form-control" placeholder="Marke"
                                           id="nbrand"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="nmodel">Model</label>
                                    <input type="text" class="form-control" placeholder="Model" id="nmodel"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="ncapacity">Hubraum</label>
                                    <input type="text" class="form-control" placeholder="Hubraum" id="ncapacity"/>
                                </div>
                                <div class="form-group col-sm-2 col-xs-4">
                                    <label for="ncylinderCnt">Anzahl Zylinder</label>
                                    <input type="text" class="form-control" placeholder="Anzahl Zylinder"
                                           id="ncylinderCnt"/>
                                </div>
                                <div class="form-group col-md-4 col-xs-6">
                                    <label for="nserialNumber">Fahrgestellnummer</label>
                                    <input type="text" class="form-control" placeholder="Fahrgestellnummer"
                                           id="nserialNumber"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="nyear">Baujahr</label>
                                    <input type="text" class="form-control" placeholder="Baujahr" id="nyear"/>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="nclass">Klasse</label>
                                    <input type="text" class="form-control" placeholder="Klasse" id="nclass"/>
                                </div>
                            </div>
                        </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
        </uib-accordion>
    </form>
</div>