<div class="col-xs-12">
    <mc-messages></mc-messages>
</div>

<div ng-controller="MotorcycleCtrl as ctrl">
    <uib-accordion close-others="oneAtATime">
        <div ng-repeat="motorcycle in ctrl.motorcycles">
            <form name="form_{{motorcycle.model}}" ng-submit="ctrl.saveMotorcycle(motorcycle)">
                <div class="row" ng-class="collapse">
                    <div class="col-xs-12">
                        <rd-widget status=motorcycle.status>
                            <rd-widget-header status=motorcycle.status icon="fa-motorcycle"
                                              title="Meine {{motorcycle.model}}">
                            </rd-widget-header>
                            <rd-widget-body>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label for="brand">Marke</label>
                                        <input ng-model="motorcycle.brand" type="text" class="form-control"
                                               placeholder="Marke"
                                               id="brand"/>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="model">Model</label>
                                        <input ng-model="motorcycle.model" type="text" class="form-control"
                                               placeholder="Model" id="model"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="capacity">Hubraum</label>
                                        <input ng-model="motorcycle.capacity" type="text" class="form-control"
                                               placeholder="Hubraum" id="capacity"/>
                                    </div>
                                    <div class="form-group col-sm-2 col-xs-4">
                                        <label for="cylinderCnt">Anzahl Zylinder</label>
                                        <input ng-model="motorcycle.cylinderCnt" type="text" class="form-control"
                                               placeholder="Anzahl Zylinder"
                                               id="cylinderCnt"/>
                                    </div>
                                    <div class="form-group col-md-4 col-xs-6">
                                        <label for="serialNumber">Fahrgestellnummer</label>
                                        <input ng-model="motorcycle.serialNumber" type="text" class="form-control"
                                               placeholder="Fahrgestellnummer"
                                               id="serialNumber"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label for="year">Baujahr</label>
                                        <input ng-model="motorcycle.year" type="text" class="form-control"
                                               placeholder="Baujahr" id="year"/>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="class">Klasse</label>
                                        <input ng-model="motorcycle.class" type="text" class="form-control"
                                               placeholder="Klasse" id="class"/>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <button ng-disabled="!form_{{motorcycle.model}}.$dirty" type="submit"
                                                class="btn btn-success">Speichern
                                        </button>
                                        <button ng-disabled="!form_{{motorcycle.model}}.$dirty" type="button"
                                                class="btn btn-danger">Abbrechen
                                        </button>
                                        <button ng-disabled="!form_{{motorcycle.model}}.$dirty" type="button"
                                                ng-click="ctrl.deleteMotorcycle(motorcycle)"
                                                class="btn btn-warning">Löschen
                                        </button>
                                    </div>
                                </div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>
                </div>
            </form>
        </div>

        <form name="newForm" ng-submit="ctrl.addMotorcycle(ctrl.newMotorcycle)">
            <div class="row" ng-class="collapse">
                <div class="col-xs-12">
                    <rd-widget status=motorcycle.status panel-class="new-widget">
                        <rd-widget-header status=motorcycle.status icon="fa-plus" title="Weiteres Motorrad hinzufügen">
                        </rd-widget-header>
                        <rd-widget-body>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label for="nbrand">Marke</label>
                                    <input ng-model="ctrl.newMotorcycle.brand" type="text" class="form-control"
                                           placeholder="Marke"
                                           id="nbrand"/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="nmodel">Model</label>
                                    <input ng-model="ctrl.newMotorcycle.model" type="text" class="form-control"
                                           placeholder="Model" id="nmodel"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="ncapacity">Hubraum</label>
                                    <input ng-model="ctrl.newMotorcycle.capacity" type="text" class="form-control"
                                           placeholder="Hubraum" id="ncapacity"/>
                                </div>
                                <div class="form-group col-sm-2 col-xs-4">
                                    <label for="ncylinderCnt">Anzahl Zylinder</label>
                                    <input ng-model="ctrl.newMotorcycle.cylinderCnt" type="text" class="form-control"
                                           placeholder="Anzahl Zylinder"
                                           id="ncylinderCnt"/>
                                </div>
                                <div class="form-group col-md-4 col-xs-6">
                                    <label for="nserialNumber">Fahrgestellnummer</label>
                                    <input ng-model="ctrl.newMotorcycle.serialNumber" type="text" class="form-control"
                                           placeholder="Fahrgestellnummer"
                                           id="nserialNumber"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="nyear">Baujahr</label>
                                    <input ng-model="ctrl.newMotorcycle.year" type="text" class="form-control"
                                           placeholder="Baujahr" id="nyear"/>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="nclass">Klasse</label>
                                    <input ng-model="ctrl.newMotorcycle.class" type="text" class="form-control"
                                           placeholder="Klasse" id="nclass"/>
                                </div>
                                <button ng-disabled="!newForm.$dirty" type="submit" class="btn btn-success">Hinzufügen
                                </button>
                                <button ng-disabled="!newForm.$dirty" type="button" class="btn btn-danger">Abbrechen
                                </button>
                            </div>
                        </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
        </form>
    </uib-accordion>
</div>