<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>
    </div>
</div>

<form>

    <uib-accordion close-others="oneAtATime">
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success">Speichern</button>
                <button type="button" class="btn btn-danger">Abbrechen</button>
            </div>
        </div>

        <div class="row" ng-class="collapse">
            <div class="col-xs-12">
                <rd-widget status=statusPerson>
                    <rd-widget-header status=statusPerson icon="fa-user" title="Personendaten">
                    </rd-widget-header>
                    <rd-widget-body>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="firstName">Vorname</label>
                                <input type="text" class="form-control" placeholder="Vorname"
                                       id="firstName"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="name">Nachname</label>
                                <input type="text" class="form-control" placeholder="Name" id="name"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="street">Straße</label>
                                <input type="text" class="form-control" placeholder="Straße" id="street"/>
                            </div>
                            <div class="form-group col-sm-1 col-xs-4">
                                <label for="no">Nr.</label>
                                <input type="text" class="form-control" placeholder="Nr." id="no"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="country">Land</label>
                                <input type="text" class="form-control" placeholder="Land" id="country"/>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="zip">PLZ</label>
                                <input type="text" class="form-control" placeholder="PLZ" id="zip"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="city">Ort</label>
                                <input type="text" class="form-control" placeholder="Ort" id="city"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="tel">Tel.</label>
                                <input type="text" class="form-control" placeholder="Tel." id="tel"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="fax">Fax</label>
                                <input type="text" class="form-control" placeholder="Fax" id="fax"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="email">E-Mail</label>
                                <input type="text" class="form-control" placeholder="E-Mail" id="email"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="dateOfBirth">Geburtsdatum</label>
                                <input type="date" class="form-control" placeholder="Geburtsdatum"
                                       id="dateOfBirth"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label for="isCodriver">Ich bin Beifahrer</label>
                                <input type="checkbox" class="form-control checkbox" id="isCodriver" required/>
                            </div>
                        </div>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <rd-widget status=statusBank>
                    <rd-widget-header icon="fa-money" title="Bank / Versicherung" status=statusBank>
                    </rd-widget-header>
                    <rd-widget-body>
                        <div class="row">
                            <div class="form-group col-sm-1">
                                <label for="isDrawing">Einzug</label>
                                <input type="checkbox" class="form-control" placeholder="Einzug" id="isDrawing"/>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="iban">IBAN</label>
                                <input type="text" class="form-control" placeholder="IBAN"
                                       id="iban"/>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="bic">BIC</label>
                                <input type="text" class="form-control" placeholder="BIC" id="bic"/>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="bank">Bank</label>
                                <input type="text" class="form-control" placeholder="Bank" id="bank"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="healthInsuranceNo">Krankenversicherungsummer</label>
                                <input type="text" class="form-control" placeholder="Krankenversicherungsnummer"
                                       id="healthInsuranceNo"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="healthInsurance">Krankenversicherung</label>
                                <input type="text" class="form-control" placeholder="Krankenversicherung"
                                       id="healthInsurance"/>
                            </div>
                        </div>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <rd-widget status=statusLicense>
                    <rd-widget-header status=statusLicense icon="fa-road" title="Lizenz / Transponder">
                    </rd-widget-header>
                    <rd-widget-body>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="typeOfLicense">Lizenztyp</label>
                                <input type="text" class="form-control" placeholder="Lizenztyp" id="typeOfLicense"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="licenseNo">Lizenznummer</label>
                                <input type="text" class="form-control" placeholder="Lizenznummer" id="licenseNo"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="isRentTransponder">Ich besitze einen eigenen Transponder</label>
                                <input type="checkbox" class="checkbox" placeholder="Einzug"
                                       id="isRentTransponder"/>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="transponderNo">Transpondernummer</label>
                                <input type="text" class="form-control" placeholder="Transpondernummer"
                                       id="transponderNo"/>
                            </div>
                        </div>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>
    </uib-accordion>
</form>
