.active {
    color: #fff;
    border-left: 10px solid #e99d1a;
}
#sidebar-wrapper {
    background-image: linear-gradient(45deg, black 1%, silver 40%);
}
.row.header{
    background-image: linear-gradient(45deg, silver 60%, black 99%);
}
.sidebar-footer div a {
    color:black;
}
ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a{
    background:silver;
}
ul.sidebar .sidebar-list a{
    color:black;
}
ul.sidebar .sidebar-title{
    color: white;
}

.active span{
    color: #e99d1a;
}

input[type=checkbox]{
    width:25px; height:25px
}
*:focus, *:active {
    outline: none !important;
}

.new-widget{
background: rgba(92, 184, 92, 0.19);
}

.eventPicture{
    max-width:100%;
    max-height:100%;
}