.active {
    color: #fff;
    border-left: 10px solid #e99d1a;
}

#sidebar-wrapper {
    background-image: linear-gradient(45deg, black 1%, silver 40%);
}

.row.header {
    background-image: linear-gradient(45deg, silver 60%, black 99%);
}

.sidebar-footer div a {
    color: black;
}

ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a {
    background: silver;
}

ul.sidebar .sidebar-list a {
    color: black;
}

ul.sidebar .sidebar-title {
    color: white;
}

.active span {
    color: #e99d1a;
}

input[type=checkbox] {
    width: 25px;
    height: 25px
}

*:focus, *:active {
    outline: none !important;
}

.new-widget {
    background: rgba(92, 184, 92, 0.19);
}

.eventPicture {
    max-width: 100%;
    max-height: 100%;
}

.ngdialog {
    margin-top: -5%;
    padding-top: 10px;
}

.form-control.ng-invalid
{
    border:1px solid #f00;
}
/*signin*/
.form-signin {
    max-width: 50%;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


